Import all basic librabries...

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

Step 1: Read the files

In [2]:
rounds2=pd.read_csv("rounds2.csv",encoding="ISO-8859-1")

In [3]:
rounds2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114949 entries, 0 to 114948
Data columns (total 6 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   company_permalink        114949 non-null  object
 1   funding_round_permalink  114949 non-null  object
 2   funding_round_type       114949 non-null  object
 3   funding_round_code       31140 non-null   object
 4   funded_at                114949 non-null  object
 5   raised_amount_usd        94959 non-null   float64
dtypes: float64(1), object(5)
memory usage: 5.3+ MB

In [4]:
companies=pd.read_csv("companies.txt",delimiter="\t",encoding="ISO-8859-1")

In [5]:
companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66368 entries, 0 to 66367
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   permalink      66368 non-null  object
 1   name           66367 non-null  object
 2   homepage_url   61310 non-null  object
 3   category_list  63220 non-null  object
 4   status         66368 non-null  object
 5   country_code   59410 non-null  object
 6   state_code     57821 non-null  object
 7   region         58338 non-null  object
 8   city           58340 non-null  object
 9   founded_at     51147 non-null  object
dtypes: object(10)
memory usage: 5.1+ MB

# CHECKPOINT 1 : Data Cleaning 1

In [6]:
rounds2.tail()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
114944,/organization/zzzzapp-com,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0
114945,/ORGANIZATION/ZZZZAPP-COM,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0
114946,/organization/ãeron,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN
114947,/ORGANIZATION/ÃASYS-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0
114948,/organization/ä°novatiff-reklam-ve-tanä±tä±m-h...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0

In [7]:
companies.tail()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
66363,/Organization/Zznode-Science-And-Technology-Co...,ZZNode Science and Technology,http://www.zznode.com,Enterprise Software,operating,CHN,22,Beijing,Beijing,NaN
66364,/Organization/Zzzzapp-Com,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
66365,/Organization/ÃEron,ÃERON,http://www.aeron.hu/,NaN,operating,NaN,NaN,NaN,NaN,01-01-2011
66366,/Organization/ÃAsys-2,Ãasys,http://www.oasys.io/,Consumer Electronics|Internet of Things|Teleco...,operating,USA,CA,SF Bay Area,San Francisco,01-01-2014
66367,/Organization/Ä°Novatiff-Reklam-Ve-Tanä±Tä±M-H...,Ä°novatiff Reklam ve TanÄ±tÄ±m Hizmetleri Tic,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN,NaN

Step 2:Remove Junk Data

In [8]:
#To remove the junk characters we are encoding and decoding our data
rounds2["company_permalink"]=rounds2["company_permalink"].apply(lambda x:x.encode("utf-8").decode("ascii","ignore"))

In [9]:
rounds2.tail()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
114944,/organization/zzzzapp-com,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0
114945,/ORGANIZATION/ZZZZAPP-COM,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0
114946,/organization/eron,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN
114947,/ORGANIZATION/ASYS-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0
114948,/organization/novatiff-reklam-ve-tantm-hizmetl...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0

In [10]:
companies["permalink"]=companies["permalink"].apply(lambda x:x.encode("utf-8").decode("ascii","ignore"))

In [11]:
companies.tail()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
66363,/Organization/Zznode-Science-And-Technology-Co...,ZZNode Science and Technology,http://www.zznode.com,Enterprise Software,operating,CHN,22,Beijing,Beijing,NaN
66364,/Organization/Zzzzapp-Com,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
66365,/Organization/Eron,ÃERON,http://www.aeron.hu/,NaN,operating,NaN,NaN,NaN,NaN,01-01-2011
66366,/Organization/Asys-2,Ãasys,http://www.oasys.io/,Consumer Electronics|Internet of Things|Teleco...,operating,USA,CA,SF Bay Area,San Francisco,01-01-2014
66367,/Organization/Novatiff-Reklam-Ve-TanTM-Hizmetl...,Ä°novatiff Reklam ve TanÄ±tÄ±m Hizmetleri Tic,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN,NaN

Converting to lower case

In [12]:
rounds2["company_permalink"]=rounds2["company_permalink"].apply(lambda x:x.lower())

In [13]:
rounds2["company_permalink"].unique()

array(['/organization/-fame', '/organization/-qounter',
       '/organization/-the-one-of-them-inc-', ..., '/organization/eron',
       '/organization/asys-2',
       '/organization/novatiff-reklam-ve-tantm-hizmetleri-tic'],
      dtype=object)

In [14]:
companies["permalink"]=companies["permalink"].str.lower()

In [15]:
companies["permalink"].unique()

array(['/organization/-fame', '/organization/-qounter',
       '/organization/-the-one-of-them-inc-', ..., '/organization/eron',
       '/organization/asys-2',
       '/organization/novatiff-reklam-ve-tantm-hizmetleri-tic'],
      dtype=object)

# Number of Unique companies in rounds2

In [16]:
rounds2["company_permalink"].nunique()

66368

# Number of Unique companies in companies

In [17]:
companies["permalink"].nunique()

66368

# Merging the Two DataFrames

In [18]:
master_frame1=pd.merge(rounds2,companies,left_on='company_permalink',right_on='permalink')

In [19]:
master_frame1.head(2)

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,/organization/-fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/organization/-qounter,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014

In [20]:
master_frame1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114949 entries, 0 to 114948
Data columns (total 16 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   company_permalink        114949 non-null  object
 1   funding_round_permalink  114949 non-null  object
 2   funding_round_type       114949 non-null  object
 3   funding_round_code       31140 non-null   object
 4   funded_at                114949 non-null  object
 5   raised_amount_usd        94959 non-null   float64
 6   permalink                114949 non-null  object
 7   name                     114948 non-null  object
 8   homepage_url             108815 non-null  object
 9   category_list            111539 non-null  object
 10  status                   114949 non-null  object
 11  country_code             106271 non-null  object
 12  state_code               104003 non-null  object
 13  region                   104782 non-null  object
 14  city                     104785 non-null  object
 15  founded_at               94428 non-null   object
dtypes: float64(1), object(15)
memory usage: 14.9+ MB

Checking the null values

In [21]:
master_frame1.isnull().sum()

company_permalink              0
funding_round_permalink        0
funding_round_type             0
funding_round_code         83809
funded_at                      0
raised_amount_usd          19990
permalink                      0
name                           1
homepage_url                6134
category_list               3410
status                         0
country_code                8678
state_code                 10946
region                     10167
city                       10164
founded_at                 20521
dtype: int64

In [22]:
#Null values in terms of Percentage
round(100*(master_frame1.isnull().sum()/len(master_frame1)),4)

company_permalink           0.0000
funding_round_permalink     0.0000
funding_round_type          0.0000
funding_round_code         72.9097
funded_at                   0.0000
raised_amount_usd          17.3903
permalink                   0.0000
name                        0.0009
homepage_url                5.3363
category_list               2.9665
status                      0.0000
country_code                7.5494
state_code                  9.5225
region                      8.8448
city                        8.8422
founded_at                 17.8523
dtype: float64

In [23]:
#Checking if any column is completely empty
master_frame1.isnull().all()

company_permalink          False
funding_round_permalink    False
funding_round_type         False
funding_round_code         False
funded_at                  False
raised_amount_usd          False
permalink                  False
name                       False
homepage_url               False
category_list              False
status                     False
country_code               False
state_code                 False
region                     False
city                       False
founded_at                 False
dtype: bool

In [24]:
#Checking if any row is completely empty
master_frame1.isnull().all(axis=1)

0         False
1         False
2         False
3         False
4         False
          ...
114944    False
114945    False
114946    False
114947    False
114948    False
Length: 114949, dtype: bool

Dropping Unecessary Columns from the merged data

In [25]:
master_frame1.drop(["funding_round_code","homepage_url","funded_at","funding_round_permalink","state_code","region","city","founded_at","permalink","status"],axis=1,inplace=True)

In [26]:
master_frame1.head(5)

,company_permalink,funding_round_type,raised_amount_usd,name,category_list,country_code
0,/organization/-fame,venture,10000000.0,#fame,Media,IND
1,/organization/-qounter,venture,NaN,:Qounter,Application Platforms|Real Time|Social Network...,USA
2,/organization/-qounter,seed,700000.0,:Qounter,Application Platforms|Real Time|Social Network...,USA
3,/organization/-the-one-of-them-inc-,venture,3406878.0,"(THE) ONE of THEM,Inc.",Apps|Games|Mobile,NaN
4,/organization/0-6-com,venture,2000000.0,0-6.com,Curated Web,CHN

In [27]:
round(100*(master_frame1.isnull().sum()/len(master_frame1)),4)

company_permalink      0.0000
funding_round_type     0.0000
raised_amount_usd     17.3903
name                   0.0009
category_list          2.9665
country_code           7.5494
dtype: float64

# Cleaning of Data

In [28]:
master_frame1=master_frame1[~master_frame1["raised_amount_usd"].isnull()]

In [29]:
master_frame1.head(2)

,company_permalink,funding_round_type,raised_amount_usd,name,category_list,country_code
0,/organization/-fame,venture,10000000.0,#fame,Media,IND
2,/organization/-qounter,seed,700000.0,:Qounter,Application Platforms|Real Time|Social Network...,USA

In [30]:
round(100*master_frame1.isnull().sum()/len(master_frame1),4)

company_permalink     0.0000
funding_round_type    0.0000
raised_amount_usd     0.0000
name                  0.0011
category_list         1.0994
country_code          6.1616
dtype: float64

In [31]:
master_frame1.reset_index(drop='index',inplace=True)

In [32]:
master_frame1.head(2)

,company_permalink,funding_round_type,raised_amount_usd,name,category_list,country_code
0,/organization/-fame,venture,10000000.0,#fame,Media,IND
1,/organization/-qounter,seed,700000.0,:Qounter,Application Platforms|Real Time|Social Network...,USA

In [33]:
round(100*master_frame1.isnull().sum()/len(master_frame1),4)

company_permalink     0.0000
funding_round_type    0.0000
raised_amount_usd     0.0000
name                  0.0011
category_list         1.0994
country_code          6.1616
dtype: float64

In [34]:
master_frame1=master_frame1[~master_frame1["country_code"].isnull()]

In [35]:
round(100*master_frame1.isnull().sum()/len(master_frame1),4)

company_permalink     0.0000
funding_round_type    0.0000
raised_amount_usd     0.0000
name                  0.0011
category_list         0.6498
country_code          0.0000
dtype: float64

In [36]:
master_frame1=master_frame1[~master_frame1["category_list"].isnull()]

In [37]:
round(100*master_frame1.isnull().sum()/len(master_frame1),4)

company_permalink     0.0000
funding_round_type    0.0000
raised_amount_usd     0.0000
name                  0.0011
category_list         0.0000
country_code          0.0000
dtype: float64

In [38]:
master_frame1=master_frame1[~master_frame1["name"].isnull()]

In [39]:
round(100*master_frame1.isnull().sum()/len(master_frame1),4)

company_permalink     0.0
funding_round_type    0.0
raised_amount_usd     0.0
name                  0.0
category_list         0.0
country_code          0.0
dtype: float64

Converting clean data to another csv file

In [40]:
master_frame1.to_csv("clean_data.csv",index=False)

In [41]:
master_frame=pd.read_csv("clean_data.csv")
master_frame.head(2)

,company_permalink,funding_round_type,raised_amount_usd,name,category_list,country_code
0,/organization/-fame,venture,10000000.0,#fame,Media,IND
1,/organization/-qounter,seed,700000.0,:Qounter,Application Platforms|Real Time|Social Network...,USA